:root {
  /* Dégradés */

  --gradient-theme-start: #667ce7;
  --gradient-theme-end: #6f60bf;
  
  --title-color: #000;

  --profil-background: #fff;
  --profil-input: #fff;
  --profil-text-input: #000;
  --context-parag-color: #6b7280;

}

:root.dark {
  /* Dégradés */
  --gradient-theme-start: #2a2f6d;
  --gradient-theme-end: #1a1640;

  --title-color: #dcd8ff;

  --profil-background: #1f1b33;
  --profil-input: #2c2845;
  --profil-text-input: #d6d2f3;
  --context-parag-color: #dcd8ff;

}
