:root {
  /* Dégradés */

  --gradient-theme-start: #667ce7;
  --gradient-theme-end: #6f60bf;

  --title-color: #000;

  --profil-background: #fff;
  --profil-input: #fff;
  --profil-text-input: #000;
  --context-parag-color: #6b7280;

  --scroll-track: rgba(255, 255, 255, 0.1);
  --scroll-thumb: rgba(255, 255, 255, 0.3);
  --scroll-thumb-hover: rgba(255, 255, 255, 0.5);

  --calendar-bg: rgba(255, 255, 255, 0.95);
  --calendar-text: #1f2937;
  --calendar-border: #e5e7eb;
  --calendar-hover: rgba(0, 0, 0, 0.05);
  --calendar-scroll-track: #e5e7eb;
  --calendar-scroll-thumb: #9ca3af;
}

:root.dark {
  /* Dégradés */
  --gradient-theme-start: #2a2f6d;
  --gradient-theme-end: #1a1640;

  --title-color: #dcd8ff;

  --profil-background: #1f1b33;
  --profil-input: #2c2845;
  --profil-text-input: #d6d2f3;
  --context-parag-color: #dcd8ff;

  --scroll-track: rgba(0, 0, 0, 0.25);
  --scroll-thumb: rgba(0, 0, 0, 0.45);
  --scroll-thumb-hover: rgba(0, 0, 0, 0.65);

  --calendar-bg: rgba(31, 27, 51, 0.95);
  --calendar-text: #dcd8ff;
  --calendar-border: #4a446a;
  --calendar-hover: rgba(255, 255, 255, 0.08);
  --calendar-scroll-track: #374151;
  --calendar-scroll-thumb: #6b7280;
}
